callgrind.*
gprof.out
our.err
demo-sounds/
demo-out/
Makefile
Makefile.*
config.*
configure
configure.scan
compile
aclocal.m4
autoscan.log
depcomp
missing
autom4te.cache/
.deps/
audiofilter
install-sh
.vscode/
libtool
m4/
.libs/
ltmain.sh
src/*.o
src/.deps/
src/.dirstamp
