callgrind.*
gprof.out
our.err
demo-sounds/
demo-out/
Makefile
Makefile.in
config.*
configure
configure.scan
compile
ac;pca;.m4
autoscan.log
depcomp
missing
autom4te.cache/
.deps/
audiofilter
install-sh